<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
    <header>
      <h1>Welcome to the Tech Blog</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/">Log in</a>
        <a href="/">Log out</a>
      </nav>
    </header>
    <main>
      <aside>
        <h2>Post about tech stuff!</h2>
      </aside>
      <div class="postBody">
        {{{body}}}
      </div>
    </main>
  </body>

</html>